body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 5em;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #42f4b0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
}

p {
  width: 9em;
}

.footerleft .footerright {
height: 100%;
 }

.footerleft {
  border-right: 1px solid black;
}

section:first-of-type {
  margin-top: 8em;
}

section {
  width: 80%;
  height: 2em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 2em;
}

h1 {
  text-transform: capitalize;
  color: white;
}

h2 {
  text-transform: capitalize;
  width: 8em;
  text-align: center;
}

button {
  outline: none;
  border: 1px solid grey;
  color: grey;
  border-radius: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.buttonclicked {
  background-color: rgb(0, 255, 127);
color: white;
border: none;
}

.sectionliked {
  box-shadow: 0px 0px 25px 0px rgba(0, 255, 127, 0.9);
  transition: ease-in;
  transition: 3s;
}

.favoriteunmarked {
  height: 50px;
  width: 50px;
  background-color: lightblue;
}

img {
  height: 5em;
}

footer {
  position: fixed;
  height: 5em;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #42f4b0;
}
